MONGODB_URI="mongodb+srv://USERNAME:PASSWORD@YOURCLUSTER.mongodb.net/DATABASE?retryWrites=true&w=majority"
MONGODB_TEST_URI=mongodb://localhost:27017/test
JWT_SECRET=<change this to your secret>
PORT=3000
CELO_LOCAL_TESTNET_PRIVKEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80